.bill_container {
    font-family: 微軟正黑體;
  }

  .oder {
    width: 100%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2%;
  }


  .oderitem,
  .odersend,
  .oderprice {
    background-color: white;
    color: black;
    margin: auto;
    margin-bottom: 20px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

  }

  td,
  .itemprice {
    padding: 0 15px 0 15px;

  }

  tbody,
  .send,
  .senddata,
  .pricedata,
  .price {
    padding-top: 13px;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 13px;
    border-bottom: 0.5px gray solid;
  }

  h4 {
    width: 125px;
    text-align: center;
    background-color: #F44336;
    padding: 2px 5px 2px 5px;
    margin: 0;
    border-bottom: 0.5px gray solid;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  table {
    width: 100%;
    font-size: 14px;

  }

  thead {
    background-color: #e9e3e3;
  }

  .item {
    width: 40%;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  th:nth-child(1) {

    padding-left: 9%;
    padding-top: .5%;
    padding-bottom: .5%;
    width: 40%;
  }

  td:not(:nth-child(1)),
  th:not(:nth-child(1)) {
    width: 20%;
    text-align: center;
  }

  .trborder+.trborder {
    border-top: 1px solid #000;
    padding-top: 10px;
  }

  img {
    width: 90%;
  }

  .quantity {
    padding: 0;
    width: 100%;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .dis-end {
    padding: 10px 15px;
    margin: 0;
    display: flex;
    justify-content: flex-end;
  }

  .sendbtn {
    display: flex;
    justify-content: flex-end;
  }

  /* 購物流程圖 */
  .courses {
    color: gray;
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 90%;
    padding-top: 2%;
    margin-bottom: 2%;
  }

  .course:not(:nth-last-child(1)) {
    width: 100%;
    display: flex;
  }

  .course:not(:nth-last-child(1))>.step {
    border: 2px solid gray;
    border-radius: 50%;
    font-size: 12px;
    width: 30px;
    height: 25px;
    text-align: center;
    line-height: 20px;
    align-self: center;
  }

  .course:nth-last-child(1)>.step {
    border: 2px solid gray;
    border-radius: 50%;
    font-size: 12px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .course:nth-last-child(1) {
    align-self: center;
  }

  .coursep {
    width: 100%;
    height: 50%;
    text-align: center;
    font-size: 5px;
    border-bottom: 2px gray solid;
  }

  /* 購物流程圖 */
  /* 平板 */
  @media screen and (min-width: 768px) {
    img {
      width: 100%;
    }

    .item {
      display: flex;
      width: 100%;
    }

    th:nth-child(1) {
      width: 50%;
    }

    td:not(:nth-child(1)),
    th:not(:nth-child(1)) {

      width: 20%;
      text-align: center;
    }

    .quantity {
      padding: 0;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }

    .btndiv>.btn {
      width: 20%;

    }

    .course:not(:nth-last-child(1))>.step {
      border: 2px solid gray;
      border-radius: 50%;
      font-size: 20px;
      width: 50px;
      height: 40px;
      text-align: center;
      line-height: 30px;
      align-self: center;
    }

    .course:nth-last-child(1)>.step {
      border: 2px solid gray;
      border-radius: 50%;
      font-size: 25px;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

    }

    .course:nth-last-child(1) {
      align-self: center;
    }

    .coursep {
      width: 100%;
      height: 50%;
      text-align: center;
      line-height: 2px;
      font-size: 15px;
      border-bottom: 2px gray solid;

    }

    /* 購物流程圖 */
  }

  /* 橫向平板 */
  @media screen and (min-width: 992px) {
    img {
      width: 100%;
    }

    .item {
      display: flex;
      width: 100%;
    }

    th:nth-child(1) {
      width: 50%;
    }

    td:not(:nth-child(1)),
    th:not(:nth-child(1)) {
      width: 20%;
      text-align: center;
    }

    .quantity {
      padding: 0;
      width: 40%;
      margin-left: auto;
      margin-right: auto;
    }

    .btndiv {
      margin-bottom: 5%;
    }

    .btndiv>.btn {
      width: 20%;

    }

    .course:not(:nth-last-child(1))>.step {
      border: 2px solid gray;
      border-radius: 50%;
      font-size: 20px;
      width: 50px;
      height: 40px;
      text-align: center;
      line-height: 30px;
      align-self: center;
    }

    .course:nth-last-child(1)>.step {
      border: 2px solid gray;
      border-radius: 50%;
      font-size: 25px;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

    }

    .course:nth-last-child(1) {
      align-self: center;
    }

    .coursep {
      width: 100%;
      height: 50%;
      text-align: center;
      line-height: 2px;
      font-size: 15px;
      border-bottom: 2px gray solid;

    }
  }

  @media screen and (min-width: 1200px) {
    img {
      width: 100%;
    }

    .item {
      display: flex;
      width: 100%;
    }

    th:nth-child(1) {
      width: 50%;
    }

    td:not(:nth-child(1)),
    th:not(:nth-child(1)) {
      width: 20%;
      text-align: center;
    }

    .quantity {
      padding: 0;
      width: 40%;
      margin-left: auto;
      margin-right: auto;
    }

    .btndiv>.btn {
      width: 20%;

    }

    .course:not(:nth-last-child(1))>.step {
      border: 2px solid gray;
      border-radius: 50%;
      font-size: 25px;
      width: 60px;
      height: 50px;
      text-align: center;
      line-height: 40px;
      align-self: center;
    }

    .course:nth-last-child(1)>.step {
      border: 2px solid gray;
      border-radius: 50%;
      font-size: 25px;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;

    }

    .course:nth-last-child(1) {
      align-self: center;
    }

    .coursep {
      width: 100%;
      height: 50%;
      text-align: center;
      line-height: 2px;
      font-size: 20px;
      border-bottom: 2px gray solid;

    }
  }

  .myButt {
    width: 20%;
    outline: none;
    border: none;
    padding: 13px;
    display: block;
    cursor: pointer;
    font-size: 20px;
    background-color: transparent;
    position: relative;
    border: 2px solid #fff;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
  }

  .five {
    overflow: hidden;
    color: #fff;
  }

  .five .layer {
    color: #fff;
    position: absolute;
    top: -70px;
    width: 100%;
    left: 0;
    padding: 13px 0;
    background-color: #F44336;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
  }

  .five:hover .layer {
    top: 0;
  }